
.MEMBERS{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.M{
    display: flex;
    height: 400px;
    width: 300px;
    margin: 30px;
    position: relative;
    overflow: hidden;
}
.M img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: 0.3s ease;
}
.intro{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#040d28;
    color: #ffffff;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}
.M:hover img {transition:0.3s;
    scale: 1.1;
}
.M:hover .intro{
    transform: translateY(0);
}
.intro p1{
    font-size: 20px;
 
}
a{
    text-decoration: underline;
    color: #6aa1c4;
}
body {
   
    background-color: #4b3f72; 
    animation: changeBgColor 10s ease-in-out infinite;
   
}
@keyframes changeBgColor {
    0% {
        background-color: #251749; 
    }
    50% {
        background-color: #150a25; 
    }
    100% {
        background-color:#251749; 
       
    }

}

#logo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100px;
    width: 50px;
}