.MEMBERS {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.M {
    display: flex;
    height: 342px;
    width: 273px;
    margin: 30px;
    position: relative;
    overflow: hidden;
}

.M img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: 0.3s ease;
}

.intro {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #18052d;
    color: #ffffff;
    padding: 15px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.M:hover img {
    transition: 0.3s;
    scale: 1.1;
   
}

.M:hover .intro {
    transform: translateY(0);
}

.intro p1 {
    font-size: 20px;

}

a {
    text-decoration: underline;
    color: #6aa1c4;
}

main {
   
        background-image: url(https://pbs.twimg.com/media/FUQXHIgVUAAlXpj?format=jpg&name=4096x4096);
        background-size: cover;
      }
    


#logo {
    position: absolute;
    top: 30px;
    left: 80px;
    height: 100px;
    width: 50px;
}
header{
    font-size: 60px;
   top: 40px;
   left: 240px;
position: absolute;
    color:  #3a3c5feb;
}
body{
   
    background-color: #59677c;
    margin-left: 220px
}

.side-nav {
    height: 100%;
    width:220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3947;
    overflow-x: hidden;
    padding-top: 20px;
   
  }
  
  .side-nav a {
   
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    margin: 25px;
  }
  
  .side-nav a:hover {
    color: #f1f1f1;
  }
h1{
    text-align: center;

}
p2 {
    font-size: 20px;
}



.side-nav a1:hover {
    color: #f1f1f1;
  }
  p{
    background-color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
  }
  