* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.MEMBERSA {
    display: flex;
    text-align: center;
}


.MEMBERSB {
    display: flex;
    text-align: center;


}

.MEMBERSC {
    display: flex;
    text-align: center;

}

.MEMBERSD {
    display: flex;
    text-align: center;

}

img {
    height: 400px;
    width: 350px;
    border-radius: 3px;
}

.M {
    height: 400px;
    margin: 200px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
.intro{
    height: 200px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
}